@charset "utf-8";

/* 메인비주얼 */
.visual_wrap {position:relative;height:946px;text-align:center;overflow: hidden;}
.main_v_sd .item {height:946px;position:relative;overflow: hidden;}
.main_v_sd .item .bg {position:absolute;top:0;left:0;width:100%;height:100%;background-color: rgb(124, 143, 138);}
.main_v_sd .item.item01 .bg {background: url(../img/main_visaul_01.png) no-repeat center / cover;}
.main_v_sd .item.item02 .bg {background: url(../img/main_visaul_02.png) no-repeat center / cover;}
.main_v_sd .item.item03 .bg {background: url(../img/main_visaul_03.png) no-repeat center / cover;}
.main_v_sd .item.item04 .bg {background: url(../img/main_visaul_04.png) no-repeat center / cover;}
.main_v_sd .item.item05 .bg {background: url(../img/main_visaul_05.png) no-repeat center / cover;}
.main_v_sd .item.item06 .bg {background: url(../img/main_visaul_06.png) no-repeat center / cover;}
.main_v_sd .item.item07 .bg {background: url(../img/main_visaul_07.png) no-repeat center / cover;}
.main_v_sd .item.item08 .bg {background: url(../img/main_visaul_08.png) no-repeat center / cover;}

.visual_wrap .main_v_tit {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 999;}
.main_v_tit .tit_wrap {padding-top: 270px;}
.main_v_tit .tit_wrap .typo {font-size: 4.375rem;font-weight: 700;color: #fff;text-shadow: 0 0 8px #000;}
.main_v_tit .tit_wrap .sub_text {font-size:1.875rem;margin-top: 25px;color: #fff;}
.main_v_tit .tit_wrap .video_btn {margin-top: 75px;}
.main_v_tit .tit_wrap .video_btn a {padding: 15px 50px 10px 40px;color: #fff;background: #00845c;font-size: 1.438rem;border-radius: 30px;}

/* section 공통 */
section .tit_wrap {text-align: center;margin-bottom: 70px;}
section .tit_wrap .tit_b {font-size: 4.063rem;font-weight: 700;margin-top: 10px;}
section .tit_wrap .tit_b span {font-weight: 700;}

/* silde-pager 공통 */
.slick-nav a {width: 60px;height: 60px;border-radius: 50%;background-color: #fff;font-size: 0;background-position: center;background-repeat: no-repeat;}
.slick-nav .slick-prev{background-image: url(../img/arrow_l.png);}
.slick-nav .slick-next{background-image: url(../img/arrow_r.png);}

/* main_sec02 - 기부방법 */
.main_sec02{position: relative;background: url(../img/bg_02.png) repeat;padding-bottom: 210px;margin-top: 55px;}
.main_sec02::before {content: '';display: block;width: 100%;height: 140px; background: url(../img/bg_01.png);position: absolute;top: -140px;left: 0;}
.donation_qna > div {margin-bottom: 5px;}
.donation_qna > div:last-child {margin-bottom: 0;}
.donation_qna .text_box {padding: 15px 0 10px;border-radius: 15px;font-size: 1.438rem;position: relative;}
.donation_qna .text_box::after {content: '';display: block;width: 0;height: 0;position: absolute;top: 50%;transform: translateY(-50%);}
.donation_qna .q_box .text_box::after {border-right: 20px solid #1476c5;border-top: 13px solid transparent;border-bottom: 13px solid transparent;left: -13px;}
.donation_qna .a_box .text_box::after {border-left: 20px solid #ffd84d;border-top: 13px solid transparent;border-bottom: 13px solid transparent;right: -13px;}
.donation_qna .q_box .text_box {width: 25%;text-align: center;color: #fff;background: #1476c5;margin-left: 20px;}
.donation_qna .a_box {justify-content: right;}
.donation_qna .a_box .text_box {width: 55%;background: #ffd84d;padding-left: 25px;margin-right: 20px;}

/* main_sec03 - 기부금사용 */
.main_sec03{position: relative;background: url(../img/bg_04.png) repeat;padding-bottom: 210px;}
.main_sec03::before {content: '';display: block;width: 100%;height: 140px; background: url(../img/bg_03.png) repeat-x;position: absolute;top: -140px;left: 0;}
.main_sec03 .heading_5 {background: url(../img/under_line.png) no-repeat center bottom;}
.use_cont ul li {width: calc((100% / 4) - (32px * 9 / 12));margin: 0 16px;text-align: center;font-size: 1.438rem;}
.use_cont ul li .img_box {min-height: 320px;display: flex;align-items: center;}
.use_cont ul li .text_box {margin-top: 15px;}

/* main_sec04 - 답례품소개, 기부절차*/
.main_sec04{position: relative;background: url(../img/bg_06.png) no-repeat center / cover;padding-bottom: 210px;}
.main_sec04::before {content: '';display: block;width: 100%;height: 140px; background: url(../img/bg_05.png) repeat-x;position: absolute;top: -140px;left: 0;}
.main_sec04 .cloud01 {width: 241px;height:230px;background: url(../img/cloud_01.png) no-repeat center;position: absolute;top: 0;left: 0;animation: myMove1 1s linear 3s infinite;}
.main_sec04 .cloud02 {width: 250px;height:172px;background: url(../img/cloud_02.png) no-repeat center;position: absolute;top: 53%;right: 0;animation: myMove1 1s linear 3s infinite;}
.present_wrap {background: url(../img/present_sd_bg.png) no-repeat right 20% top 70px;}
.present{position: relative;}
.present .slick-controls {width:100%;height: 100%; position: absolute;top: 0;left: 0;}
.present .slick-controls .slick-prev {position: absolute;top: 150px;left: -60px;}
.present .slick-controls .slick-next {position: absolute;top: 150px;right: -60px;z-index: 10;}
.present_wrap {margin-bottom: 100px;}
/* .present_sd {background: url(../img/present_sd_bg.png) no-repeat right 40% top 0;} */
.present_sd .item_box {padding: 0 16px;text-align: center;position: relative;height: 390px;}
.present_sd .item {width: 100%; height: 350px;border-radius: 20px;overflow: hidden;box-shadow: 0 6px 21px rgba(0, 0, 0, 0.2);background-color: #fff;}
.present_sd .item .thumb img {width: 100%;height: 100%;object-fit: cover;}
.present_sd .item .t_box {padding-top: 20px;}
.present_sd .item .t_box .tit {font-size: 1.25rem;}
.present_sd .item .t_box .desc {font-size: 0.875rem;color: #5b5b5b;}
.present_sd .slick-slide:nth-child(2n) {margin-top: 40px;}

section.main_sec04 .donation_step_wrap .tit_wrap {margin-bottom: 30px;}
.donation_step_wrap .step_tab_box {position: relative;min-height: 410px;}
.step_tabs {position: absolute;right: 0;top: 0px;width: 100%;text-align: center;}
.step_tabs > li > a.tablink.active span, .step_tabs > li > a.tablink:hover span {width: 20px;height: 20px;background: url(../img/tab_arrow.png) no-repeat center;transition: width .2s ease;}
.step_tabs > li {display: inline-block;}
.step_tabs > li > a.tablink {position: relative;display: block;padding: 10px 20px 5px;font-size: 1.5rem;color: #666;background: #fff;font-weight: 500;margin: 0 4px;min-width: 200px;text-align: center;border-radius: 14px;border: 2px solid #5c9700;}
.step_tabs > li > a.tablink.active, .step_tabs > li > a.tablink:hover {color: #fff;background: #5c9700;box-shadow: 4px 6px 8px 0px rgb(92, 151, 0 ,.3);}
.step_tabs .tab_cont {display: none;width: 100%;position: absolute;left: 0px;top: 120px;text-align: left;}
.step_tabs > li:first-child > .tab_cont {display: block;height: 150px;}
.step_tabs .tab_cont ul li {text-align: center;border: 2px solid #60a486;border-radius: 15px;position: relative;padding: 130px 0 40px;background: #fff;animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.step_tabs .tab_cont ul li:nth-child(1){animation-delay: .1s;}
.step_tabs .tab_cont ul li:nth-child(2){animation-delay: .2s}
.step_tabs .tab_cont ul li:nth-child(3){animation-delay: .3s}
.step_tabs .tab_cont ul li:nth-child(4){animation-delay: .4s}
.step_tabs .tab_cont ul li:nth-child(5){animation-delay: .5s}
.step_tabs .tab_cont ul li:nth-child(6){animation-delay: .6s}
.step_tabs .tab_cont ul li:nth-child(7){animation-delay: .7s}
.step_tabs .tab_cont ul li:nth-child(8){animation-delay: .8s}
.step_tabs .tab_cont ul li::after {content: '';display: block; width: 0px;height: 0px;border-left: 13px solid #60a486;border-top: 10px solid transparent;border-bottom: 10px solid transparent;position: absolute;top: 50%;right: -13px;transform: translateY(-50%);}
.step_tabs .tab_cont ul li::before {content: '';display: block;width: 110px;height: 60px;position: absolute;top: 40px;left: 50%;transform: translateX(-50%);}
.step_tabs .tab_cont ul.on_line li:nth-child(1)::before {background: url(../img/online_ico01.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(2)::before {background: url(../img/online_ico02.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(3)::before {background: url(../img/online_ico03.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(4)::before {background: url(../img/online_ico04.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(5)::before {background: url(../img/online_ico05.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(6)::before {background: url(../img/online_ico06.png) no-repeat center;}
.step_tabs .tab_cont ul.on_line li:nth-child(7)::before {background: url(../img/online_ico07.png) no-repeat center;}
.step_tabs .tab_cont ul.off_line li:nth-child(1)::before {background: url(../img/offline_ico01.png) no-repeat center;}
.step_tabs .tab_cont ul.off_line li:nth-child(2)::before {background: url(../img/offline_ico02.png) no-repeat center;}
.step_tabs .tab_cont ul.off_line li:nth-child(3)::before {background: url(../img/online_ico06.png) no-repeat center;}
.step_tabs .tab_cont ul.off_line li:nth-child(4)::before {background: url(../img/offline_ico04.png) no-repeat center;}
.step_tabs .tab_cont ul.off_line li:nth-child(5)::before {background: url(../img/online_ico07.png) no-repeat center;}

.step_tabs .tab_cont ul li:last-child::after {display: none;}
.step_tabs .tab_cont ul li .count {text-align: center;margin-bottom: 20px;}
.step_tabs .tab_cont ul li .count span {font-size: 0.75rem;color: #00845c;background: #f0f6e8;border-radius: 20px;padding: 7px 20px 2px;}
.step_tabs .tab_cont ul li:not(.count) {font-size: 1.125rem;}
.step_tabs .tab_cont ul li:not(.count) span {font-size: 0.938rem;color: 525252;}
.step_tabs .tab_cont ul.on_line li {width: calc((100% / 7) - 16px);}
.step_tabs .tab_cont ul.off_line li {width: calc((100% / 5) - 16px);}

/* main_sec05 - 이벤트, 추천여행*/
.main_sec05{position: relative;background: url(../img/bg_02.png) repeat;padding-bottom: 210px;}
.main_sec05::before {content: '';display: block;width: 100%;height: 140px; background: url(../img/bg_01.png) repeat-x;position: absolute;top: -140px;left: 0;}
.event_cont {padding: 70px;border-radius: 30px;background: #fff;}
.event_cont .left_a {width: 70%;}
.event_cont .left_a .tit {font-size: 2.188rem;font-weight: bold;}
.event_cont .left_a .text {font-size: 1.438rem;margin: 25px 0 35px;}
.event_cont .left_a .text p {margin-bottom: 15px;}
.event_cont .left_a .text p:last-child {margin-bottom: 0;}
.event_cont .left_a .text span {font-weight: bold;}
.event_cont .left_a .dt_info {font-size: 1.25rem;}
.event_cont .left_a .dt_info li {margin-bottom: 10px;}
.event_cont .left_a .dt_info li:last-child {margin-bottom: 0;}
.event_cont .left_a .dt_info .round_box {width: 20%;background: #5c5c5c;color: #fff;border-radius: 30px;padding: 7px 0 2px;text-align: center;margin-right: 15px;}
.event_cont .right_a {width: 30%;}
.event_cont .right_a .img_box p {font-size: 0.75rem;text-align: center;}
.event_cont .right_a .btn_box {text-align: center;}
.event_cont .right_a .btn_box a {padding: 15px 40px 10px 30px;background: #00845c;color: #fff;font-weight: bold;font-size: 1.688rem;border-radius: 30px;}

/*이벤트 없음*/
.event_cont {height: 460px;position: relative;}
.event_cont::before {content: '';display: block;width: 95%;height: 400px;border-radius: 20px;border: 2px dashed #00845c;position: absolute;top: 30px;left: 50%;transform: translateX(-50%);}
.event_cont .no_event {width: 100%; padding-top: 130px;text-align: center;position: relative;}
.event_cont .no_event::before {content: '';display: block;width: 72px;height: 82px;background: url(../img/no_event.png) no-repeat center;position: absolute;top: 70px;left: 50%;transform: translateX(-50%);}
.event_cont .no_event .text1 {position: relative;}
.event_cont .no_event .text1 span {font-size: 1.438rem;padding: 10px 20px 5px;color: #fff;background: #00845c;border-radius: 20px;}
.event_cont .no_event .text2 {font-size: 1.875rem;margin: 40px 0 15px;}
.event_cont .no_event .text3 {font-size: 1.438rem;}

.hwTour {position: relative;}
.hwTour .slick-controls {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.hwTour .slick-controls .slick-prev {position: absolute;top: 50%;transform: translateY(-50%);left: 26%;z-index: 10;}
.hwTour .slick-controls .slick-next {position: absolute;top: 50%;transform: translateY(-50%);right: 26%;z-index: 10;}
.tour_wrap {margin-top: 140px;position: relative;}
.tour_wrap::before {content: '';display: block;width: 75px;height: 97px;background: url(../img/tour_deco_b01.png);position: absolute;top:35%;left: 30%;animation: myMove 10s linear 0s infinite normal;}
.tour_wrap::after {content: '';display: block;width: 111px;height: 143px;background: url(../img/tour_deco_b02.png);position: absolute;top:20%;right: 30%;animation: myMove 10s linear 0s infinite normal;animation-delay: 1s;}
.tour_sd .slick-slide {height: 600px;}
.tour_sd .slick-slide > div {width: 100%;height: 100%;}
.tour_sd .slick-slide .tour_item {width: 100%;height: 100%;}
.tour_sd .slick-slide .tour_cont {width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;position: relative;}
.tour_sd .slick-slide .tour_cont::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    left: -50px;
    bottom: 20px;
    width: 132px;
    height: 263px;
    background-image: url(../img/tour_deco_01.png);
    transform: translateY(80px);
}
.tour_sd .slick-slide.slick-center .tour_cont::before {opacity: 1;transform: translateY(0);}
.tour_sd .slick-slide .tour_cont::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    right: -100px;
    bottom: 20px;
    width: 317px;
    height: 162px;
    background-repeat: no-repeat;
    background-image: url(../img/tour_deco_0101.png);
    background-position: center;
    transform: translate(80px, -80px);
}
.tour_sd .slick-slide .tour_cont.cont02::after { background-image: url(../img/tour_deco_0102.png);}
.tour_sd .slick-slide .tour_cont.cont03::after { background-image: url(../img/tour_deco_0103.png);}
.tour_sd .slick-slide .tour_cont.cont04::after { background-image: url(../img/tour_deco_0104.png);}
.tour_sd .slick-slide .tour_cont.cont05::after { background-image: url(../img/tour_deco_0105.png);}
.tour_sd .slick-slide .tour_cont.cont06::after { background-image: url(../img/tour_deco_0106.png);}
.tour_sd .slick-slide .tour_cont.cont07::after { background-image: url(../img/tour_deco_0107.png);}
.tour_sd .slick-slide .tour_cont.cont08::after { background-image: url(../img/tour_deco_0108.png);}
.tour_sd .slick-slide.slick-center .tour_cont::after {opacity: 1;transform: translate(0, 0);}
.tour_sd .slick-slide .thumb {width: 400px;height: 400px;border-radius: 50%;overflow: hidden;transition: all .5s;position: relative;text-align: center;}
.tour_sd .slick-slide .thumb .name {position: absolute;top: 50%;left: 50%;color: #fff;transform: translate(-50%, -50%);font-size: 1.438rem;transition: .3s;}
.tour_sd .slick-slide .thumb .text {opacity: 0;}
.tour_sd .slick-slide .tour_cont .thumb img {width: 100%;height: 100%;object-fit: cover;filter: brightness(0.5);transition: all .5s;}
.tour_sd .slick-slide .t_box {opacity: 0;display: none;}
.tour_sd .slick-slide.slick-center {position: relative;}
.tour_sd .slick-slide.slick-center .thumb {width: 600px;height: 500px;border-radius: 300px 300px 0 0;overflow: hidden;}
.tour_sd .slick-slide.slick-center .thumb .name {opacity: 0;}
.tour_sd .slick-slide.slick-center .thumb .text {width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: flex;justify-content: center;align-items: center;font-size: 1.688rem;color: #fff;background-color: rgba(0, 0, 0, .3);text-shadow: 0 0 8px #000;transition: all .3s;text-align: center;}
.tour_sd .slick-slide.slick-center .thumb:hover .text {opacity: 1;}
.tour_sd .slick-slide.slick-center .tour_cont .thumb img {filter: brightness(1);}
.tour_sd .slick-slide.slick-center .t_box {position: absolute;width: 100%;bottom: 0px; left:0; display: block;font-size: 1.438rem;text-align: center;opacity: 1;}
.tour_sd .item .t_box .tit {font-size: 1.438rem;text-align: center;padding-top: 20px;}

/* sticky_link */
.sticky_link_wrap {position: sticky;bottom: 0;z-index: 999;border-top: 5px solid #02a652;}
.sticky_link_wrap .link_box {width: 100%;height: 100px;}
.sticky_link_wrap .link_box a {display: flex;align-items: center;justify-content:center;height: 100%;text-align: center;font-size: 1.875rem;}
.sticky_link_wrap .link_box .bg_g {width: calc(50% - 50px); background: #02a652;color: #fff;position: relative;}
.sticky_link_wrap .link_box .bg_g:first-child::after {content: '';display: block;width: 0px;height: 0px;border-bottom: 100px solid #02a652;border-left: 0px solid transparent;border-right: 100px solid transparent;position: absolute;top: 0;right: -100px;}
.sticky_link_wrap .link_box .bg_w {width: calc(50% + 50px);color: #02a652;background: #fff;}

/* floating_event */
.floating_event_wrap {position: fixed;bottom: 10.625rem;right: 3.5%;animation: bounce 2s ease infinite;z-index: 999;}
.floating_event_wrap .event_btn {position: relative;}
.floating_event_wrap .event_btn::after {content: '';display: block;width: 72px;height: 62px;background: url(../img/event_ico.png) no-repeat center;position: absolute;top: -17px;left: -40px;}
.floating_event_wrap .event_btn a {display: block; padding: 10px 20px 5px 40px;font-size: 1.125rem;font-weight: bold;color: #02a652;border: 3px solid #02a652;border-radius: 10px;background: #fff;}

@keyframes myMove1 {    0% { margin-top: 0px; }	50% { margin-top: 8px; }    100% { margin-top: 0px; }}
@keyframes myMove {    0% { margin-top: 0px; }	25% { margin-top: -40px;margin-left:-20px }	50% { margin-top: -5px; }	75% { margin-top: -40px;margin-right:20px  }    100% { margin-top: 0px; }}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-6px)
    }

    60% {
        transform: translateY(-8px)
    }
}

@keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
}